<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Node JS Twitter Auth</h1>
        <a href="/twitter" class="btn btn-danger">LOG IN
            <i class='bx bxl-twitter'></i>
            <span class="btn btn-danger">Log in with Twitter</span>
        </a>
    </div>
</body>
</html>